@model BusinessLayers.Models.OrderVm

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdvancePaymentTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdvancePaymentTax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsOffer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsOffer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OfferlDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OfferlDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerOrdersVm.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerOrdersVm.FullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
