
@model CustomerVm
    
<ul class="list-group">
    <li>@Model.CustomerId</li>
    <li>@Model.FullName</li>
    <li>@Model.Address</li>
    <li>@Model.PostCode</li>
    <li>@Model.City</li>
    <li>@Model.Region</li>
    <li>@Model.Country</li>
</ul>